.content-wrapper {
    display: flex;
    flex-direction: column;    
    width: 100%;
    gap: 2rem;
    align-items: center;

    & p {
        width: 85vw;
        white-space: pre-line;
        text-align: center;
    }

    & img {
        display: block;
        width: 14rem;
        height: 14rem;
        border-radius: 5%;
    }
}
