@font-face { font-family: Lumen; src: url('./assets/fonts/Lumen-Full.ttf'); } 

@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-Black.otf'); font-weight: 900; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-BlackItalic.otf'); font-weight: 900; font-style: italic; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-Bold.otf'); font-weight: 700; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-BoldItalic.otf'); font-weight: 700; font-style: italic; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-Heavy.otf'); font-weight: 800; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-HeavyItalic.otf'); font-weight: 800; font-style: italic; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-Light.otf'); font-weight: 300; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-LightItalic.otf'); font-weight: 300; font-style: italic; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-Medium.otf'); font-weight: 500; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-MediumItalic.otf'); font-weight: 500; font-style: italic; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-Regular.otf'); font-weight: 400; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-RegularItalic.otf'); font-weight: 400; font-style: italic; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-Semibold.otf'); font-weight: 600; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-SemiboldItalic.otf'); font-weight: 600; font-style: italic; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-Thin.otf'); font-weight: 100; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-ThinItalic.otf'); font-weight: 100; font-style: italic; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-Ultralight.otf'); font-weight: 200; }
@font-face { font-family: SF Pro Display; src: url('./assets/fonts/SF-Pro-Display-UltralightItalic.otf'); font-weight: 200; font-style: italic; }

@font-face { font-family: SF Pro Rounded; src: url('./assets/fonts/SF-Pro-Rounded-Black.otf'); font-weight: 900; }
@font-face { font-family: SF Pro Rounded; src: url('./assets/fonts/SF-Pro-Rounded-Bold.otf'); font-weight: 700; }
@font-face { font-family: SF Pro Rounded; src: url('./assets/fonts/SF-Pro-Rounded-Heavy.otf'); font-weight: 800; }
@font-face { font-family: SF Pro Rounded; src: url('./assets/fonts/SF-Pro-Rounded-Light.otf'); font-weight: 300; }
@font-face { font-family: SF Pro Rounded; src: url('./assets/fonts/SF-Pro-Rounded-Medium.otf'); font-weight: 500; }
@font-face { font-family: SF Pro Rounded; src: url('./assets/fonts/SF-Pro-Rounded-Regular.otf'); font-weight: 400; }
@font-face { font-family: SF Pro Rounded; src: url('./assets/fonts/SF-Pro-Rounded-Semibold.otf'); font-weight: 600; }
@font-face { font-family: SF Pro Rounded; src: url('./assets/fonts/SF-Pro-Rounded-Thin.otf'); font-weight: 100; }
@font-face { font-family: SF Pro Rounded; src: url('./assets/fonts/SF-Pro-Rounded-Ultralight.otf'); font-weight: 200; }

@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-Black.otf'); font-weight: 900; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-BlackItalic.otf'); font-weight: 900; font-style: italic; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-Bold.otf'); font-weight: 700; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-BoldItalic.otf'); font-weight: 700; font-style: italic; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-Heavy.otf'); font-weight: 800; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-HeavyItalic.otf'); font-weight: 800; font-style: italic; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-Light.otf'); font-weight: 300; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-LightItalic.otf'); font-weight: 300; font-style: italic; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-Medium.otf'); font-weight: 500; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-MediumItalic.otf'); font-weight: 500; font-style: italic; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-Regular.otf'); font-weight: 400; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-RegularItalic.otf'); font-weight: 400; font-style: italic; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-Semibold.otf'); font-weight: 600; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-SemiboldItalic.otf'); font-weight: 600; font-style: italic; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-Thin.otf'); font-weight: 100; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-ThinItalic.otf'); font-weight: 100; font-style: italic; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-Ultralight.otf'); font-weight: 200; }
@font-face { font-family: SF Pro Text; src: url('./assets/fonts/SF-Pro-Text-UltralightItalic.otf'); font-weight: 200; font-style: italic; }

@font-face { font-family: SF Pro; src: url('./assets/fonts/SF-Pro-Italic.ttf'); font-style: italic; }
@font-face { font-family: SF Pro; src: url('./assets/fonts/SF-Pro.ttf'); }
