.Blog {
  height: 70dvh;
  width: 70%;

  h1 {
    margin: 0 0 1rem 0;
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}

.post-link {
  color: inherit;

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}