.Blog {
  height: 70dvh;
  width: 70%;

  h1 {
    margin: 0 0 1.25rem 0;
  }

  @media (max-width: 480px) {
    width: 80%;

    h1 {
      font-size: 2.7em;
    }
  }
}

.post-link {
  margin: 0.5rem 0;
  width: fit-content;

  a {
    color: var(--color-primary);
  }

  span {
    font-weight: normal;
  }

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}