#svg_window {
    align-self: center;
    position: relative; /* Allow absolute positioning within this container */
    justify-content: center;
}

#svg_window svg {
    width: 10rem;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 4.5s linear forwards;
    overflow: visible;
    transform: skew(-5deg,0deg);
    filter: invert(100%) saturate(7500%) hue-rotate(285deg) brightness(115%) contrast(112%);
}

.restart-button {
    position: absolute; /* Position the button outside the flow of the SVG */
    bottom: -15%; /* Adjust as needed */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%);
    background-color: var(--color-background);
    color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    z-index: 10; /* Ensure the button is above the SVG */
    width: max-content;
    font-size: smaller;
    font-weight: normal;

    @media (max-height: 480px) {
        display: none;
    }
}

.restart-button:hover{
    border: 1px solid var(--color-primary);
} 

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
