.BlogPost {
  width: 70%;
  min-height: 70dvh;

  .header {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1.25rem 0;

    h1 {
      margin: 0rem 0 0.5rem 0;
    }
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}

.button {
  color: var(--color-primary) !important;
  gap: .25rem;
  padding: 6px 0px !important;

  &:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
  }
}