.menu-content {
  display: flex;
  flex-direction: column;
  margin: .25rem;
  padding: 1rem;
  gap: 1rem;

  @media (max-width: 480px), (max-height: 480px) {
    align-items: center;
  }
}

.menu-link {
  color: var(--color-primary);
  font-size: medium;
  
  @media (max-width: 480px) {
    font-size: larger;
  }
}

.menu-link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}