.menu-content {
  display: flex;
  flex-direction: column;
  margin: .25rem;
  padding: 1rem;
  gap: 1rem;
}

.menu-link {
  color: white;
  font-size: medium;
}

.menu-link:hover {
  color: white;
  font-weight: bold;
}