.NotFound {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    & a {
        color: var(--color-primary);
        text-decoration: underline;
        font-weight: heavier;
    }
}